{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container vh-50 d-flex align-items-center justify-content-center">
    <div class="row justify-content-center">
        <div class="col-12">
        <div class="card mb-3 center" style="max-width: 1000px; min-height: 300px;">
          <div class="row g-0">
            <div class="col-md-4">
              {% if blog_post.preview %}
                  <img src="{{ blog_post.preview.url }}" class="img-fluid rounded-start" alt="{{ blog_post.title }}">
              {% else %}
                  <img src="{% static 'img/default-blog.jpg' %}" alt="Нет изображения">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ blog_post.title }}</h5>
                <p class="card-text">{{ blog_post.content }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ blog_post.created_at }}, {{ blog_post.views }}</small></p>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

